@model sheeps3.Models.Hand
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    ViewBag.Title = "Start Menu";
}

<div style="text-align:center">
    <button asp-action="InitializeNewGame">New Game</button>
    <br />
    <br />
    <button asp-action="InitializeNewGame">New Game Test</button>
</div>